In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

Bad key savefig.frameon in file /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 421 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 472 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 473 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.2/matplotlibrc.template
or from the matplotlib source distribution
In /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/bang/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

# Cars93 data
In this lab, we would like to explore data about 93 number of vehicles.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

# Drop Missing Value

In [3]:
dfNoMissing = df.dropna()
dfNoMissing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 2 to 90
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        20 non-null     object
 1   Model               20 non-null     object
 2   Type                20 non-null     object
 3   Min.Price           20 non-null     float64
 4   Price               20 non-null     float64
 5   Max.Price           20 non-null     float64
 6   MPG.city            20 non-null     float64
 7   MPG.highway         20 non-null     float64
 8   AirBags             20 non-null     object
 9   DriveTrain          20 non-null     object
 10  Cylinders           20 non-null     object
 11  EngineSize          20 non-null     float64
 12  Horsepower          20 non-null     float64
 13  RPM                 20 non-null     float64
 14  Rev.per.mile        20 non-null     float64
 15  Man.trans.avail     20 non-null     object
 16  Fuel.tank.capacity  20 non-null     float64
 17  Passengers          20 non-null     float64
 18  Length              20 non-null     float64
 19  Wheelbase           20 non-null     float64
 20  Width               20 non-null     float64
 21  Turn.circle         20 non-null     float64
 22  Rear.seat.room      20 non-null     float64
 23  Luggage.room        20 non-null     float64
 24  Weight              20 non-null     float64
 25  Origin              20 non-null     object
 26  Make                20 non-null     object
dtypes: float64(18), object(9)
memory usage: 4.4+ KB

# Scaling
**[TODO]** Rescale the numeric attribute using z-score. You can use Scikit-learn or Pandas.

In [4]:
from sklearn.preprocessing import StandardScaler
# filter data with numeric attirbute
dfNumeric = dfNoMissing.select_dtypes(include='number')

# create a scaler object
stdScaler = StandardScaler()

# fit and transform the data
dfStd = pd.DataFrame(stdScaler.fit_transform(dfNumeric), columns = dfNumeric.columns)

dfStd.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,1.714462,1.909199,2.006788,-0.689169,-1.030448,0.085718,0.936406,0.468046,0.088902,0.255073,-0.074744,-0.060346,-0.108605,-0.256332,-0.318616,-0.154074,-0.209020,0.684456
1,1.194212,1.083765,0.954326,-1.550630,-1.284879,2.571534,1.139696,-1.952883,-1.807669,2.118481,1.420127,2.008662,1.791984,2.195540,1.897842,0.808890,2.229546,1.934368
2,0.469014,0.334759,0.200537,-1.335265,-1.030448,1.971509,0.885583,-1.630093,-1.748401,2.118481,1.420127,1.893717,1.791984,1.972642,1.066670,0.423704,1.881179,1.600487
3,-0.082767,-0.123815,-0.155025,-0.043073,-0.521585,0.257153,0.148656,-0.338930,-0.286461,-0.019856,1.420127,0.112071,0.162908,-0.033435,0.789613,0.808890,-0.209020,0.187915
4,2.282008,1.970342,1.608559,-0.689169,-1.030448,0.514307,0.301124,-0.661721,-0.889017,-0.019856,1.420127,1.261520,0.977446,0.189463,1.620785,2.927411,0.836080,1.018336

# Encoding
Filter categorical attribute and remove unnessary attribute using `.drop()` 
* unnessary attribute: `Manufacturer`,	`Model`, `Make`

In [11]:
dfFilter = dfNoMissing.select_dtypes(exclude='number').drop(
    columns=['Manufacturer', 'Model', 'Make'])
dfFilter.head()

       Type             AirBags DriveTrain Cylinders Man.trans.avail   Origin
2   Compact         Driver only      Front         6             Yes  non-USA
7     Large         Driver only       Rear         6              No      USA
17    Large         Driver only       Rear         8              No      USA
20  Compact  Driver & Passenger      Front         4              No      USA
21    Large         Driver only      Front         6              No      USA

**[TODO]** Encode remaining categorical attiribute into numeric attribute using label encoding.

In [13]:
from sklearn.preprocessing import LabelEncoder

# create a encoder object
enc = LabelEncoder()

# create empthy dataframe 
dfEnc = pd.DataFrame()

# fill up data frame with encoded attribute using iteration
for col in dfFilter.columns:
    dfEnc[col] = enc.fit_transform(dfNoMissing[col])

dfEnc.head()

   Type  AirBags  DriveTrain  Cylinders  Man.trans.avail  Origin
0     0        1           1          2                1       1
1     1        1           2          2                0       0
2     1        1           2          3                0       0
3     0        0           1          1                0       0
4     1        1           1          2                0       0

Merge `df_enc` and `df_std`.

In [14]:
dfProcessed = pd.concat((dfEnc, dfStd), axis=1)
dfProcessed

,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Min.Price,Price,Max.Price,MPG.city,...,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,0,1,1,2,1,1,1.714462,1.909199,2.006788,-0.689169,...,0.088902,0.255073,-0.074744,-0.060346,-0.108605,-0.256332,-0.318616,-0.154074,-0.209020,0.684456
1,1,1,2,2,0,0,1.194212,1.083765,0.954326,-1.550630,...,-1.807669,2.118481,1.420127,2.008662,1.791984,2.195540,1.897842,0.808890,2.229546,1.934368
2,1,1,2,3,0,0,0.469014,0.334759,0.200537,-1.335265,...,-1.748401,2.118481,1.420127,1.893717,1.791984,1.972642,1.066670,0.423704,1.881179,1.600487
3,0,0,1,1,0,0,-0.082767,-0.123815,-0.155025,-0.043073,...,-0.286461,-0.019856,1.420127,0.112071,0.162908,-0.033435,0.789613,0.808890,-0.209020,0.187915
4,1,1,1,2,0,0,2.282008,1.970342,1.608559,-0.689169,...,-0.889017,-0.019856,1.420127,1.261520,0.977446,0.189463,1.620785,2.927411,0.836080,1.018336
5,3,2,1,1,1,0,-1.123268,-0.674105,-0.240359,1.249118,...,0.533410,-0.875191,-0.074744,-0.405181,-0.651630,-0.479229,-0.595673,-0.731853,-1.254119,-1.164730
6,3,2,1,1,1,1,-1.296685,-1.316109,-1.278598,1.249118,...,0.938407,-1.272310,-0.074744,-0.750015,-1.194656,-1.147922,-0.872730,-0.924445,-1.254119,-1.079120
7,3,2,1,1,1,1,-1.202094,-1.270252,-1.292821,1.249118,...,0.266705,-0.875191,-1.569614,-0.979905,-0.787387,-0.479229,-1.149787,-0.539260,0.487713,-1.113364
8,3,2,1,1,1,1,-0.650313,-0.765820,-0.837702,1.033753,...,-0.029634,-0.478071,-0.074744,-0.520126,-0.651630,-0.479229,-0.595673,-0.731853,-0.557386,-0.916460
9,0,1,1,1,1,1,-0.114297,-0.016814,0.072534,0.603023,...,0.533410,-0.172594,-0.074744,0.169544,0.027151,0.189463,0.512556,0.423704,-0.209020,-0.008989
10,2,2,2,2,0,0,-0.019706,-0.261388,-0.467919,-0.904534,...,-0.997675,0.591097,-0.074744,1.031630,1.384715,1.081053,-0.041559,-0.154074,0.139347,1.086825
11,0,1,1,1,1,1,-0.319245,-0.139101,0.015645,0.172292,...,-0.207437,-0.050404,-0.074744,-0.002874,0.027151,-0.256332,0.512556,0.038519,-0.209020,0.127988
12,0,2,1,1,0,0,-0.319245,-0.475389,-0.595921,0.172292,...,0.286461,-0.264237,-0.074744,0.399434,0.027151,-0.256332,0.235499,-0.154074,-0.209020,-0.111722
13,2,2,1,2,1,0,0.059119,0.288902,0.484986,-0.904534,...,-0.681580,0.132882,-0.074744,0.801741,0.705933,0.858155,0.789613,0.038519,0.487713,0.812871
14,1,0,1,2,0,0,0.689726,1.190765,1.594337,-0.904534,...,-1.323648,0.591097,1.420127,-0.232763,1.113202,1.303950,1.343727,0.808890,1.184446,0.889921
15,3,2,0,0,1,1,-1.217859,-1.254966,-1.235931,2.110579,...,1.264380,-2.097097,-1.569614,-2.014409,-1.737681,-1.816614,-1.703902,-1.887409,-1.602486,-1.592782
16,3,2,0,1,1,1,-0.713374,-0.872820,-0.979927,0.387657,...,2.252177,-0.050404,-0.074744,-0.347708,-0.787387,-0.702127,-0.872730,-0.346667,0.139347,-0.830849
17,3,2,1,1,1,1,-0.997147,-1.147965,-1.235931,0.387657,...,0.622312,-1.119572,-1.569614,-1.037378,-1.330412,-1.147922,-1.149787,-0.924445,-1.602486,-1.258902
18,0,2,1,1,1,1,0.405953,0.518189,0.598765,-0.473804,...,0.889017,0.743836,-0.074744,-0.060346,0.027151,-0.256332,-0.872730,1.194075,-0.209020,0.016694
19,4,2,1,2,1,1,1.241507,1.022621,0.783657,-1.119899,...,0.296339,0.743836,-1.569614,-1.267268,-0.787387,-0.479229,-0.595673,-0.924445,0.139347,-0.282943